<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 class="text-center mt-4">Search Employee</h1>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Employee Code</label>
                    <input type="text" name="empcode" [(ngModel)]="empcode" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValue()"  class="btn btn-success">Search</button>
                </div>
            </div>
            <div class="row mt-4 g-3"*ngFor="let j of searchData">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Student Name</label>
                    <input type="text" value="{{j.name}}" class="form-control">
                 </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Roll Number</label>
                    <input type="text" value="{{j.rollno}}" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Admission Number</label>
                    <input type="text" value="{{j.admno}}"  class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">College</label>
                    <input type="text" value="{{j.college}}"  class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="deleteClick(j.id)" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>   
